{
  "topics": ["pageviews", "users"],
  "joinFields": [
    {
      "topic": "pageviews",
      "field": "userid"
    },
    {
      "topic": "users",
      "field": "userid"
    }
  ],
  "selectFields": ["userid", "viewtime", "gender", "pageid"],
  "groupByFields": ["gender", "pageid"],
  "sumField": ["viewtime"]
}