{
  "topics": {
    "left": "pageviews",
    "right": "users"
  },
  "joinFields": {
    "left": ["left.userid"],
    "right": ["right.userid"]
  },
  "selectFields": {
    "left": ["left.pageviews", "left.pageid", "left.viewtime"],
    "right": ["right.userid", "right.gender"]
  },
  "groupByFields": ["gender", "pageid"],
  "sumField": ["viewtime"],
  "distinct": "left"
}